[Desktop Entry]
Encoding=UTF-8
Name=RoxyCoin
Comment=RoxyCoin P2P Cryptocurrency
Comment[fr]=RoxyCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=RoxyCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/roxycoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/roxycoin;
Categories=Office;
